*- M0 varibale configurations
* Start         End         Step
  2000          10000       20
*- A0 variable configurations
* Start         End         Step
  2000          10000       20
*- M12 variable configurations
* Start         End         Step
  10000         10200       500
*- Tan(B) variable configurations
* Start         End         Step
  20            25          10
*- Sign of Mu -1/+1
  1
*- Higs values
  125 127 129 133
*- Higs values range tolerance
  0.500
*- SoftSussy Input file path
  E:\SoftssusyInput1.txt
*- Softsussy Output file path
  E:\SoftssusyInput2.txt
*- Softsussy executable file path
  E:\SoftssusyInput3.txt